p{
  margin: 0;
}

body{
  width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
}

.heading{
  color: black;
  text-align: center;
}

.input{
  font-size: 23px;
  height: 50px;
  padding-left: 15px;
  margin-bottom: 17px;
  float: left;
  border-radius: 9px;
  border: solid 1px rgb(198, 197, 197);
}

#fname, #password{
  width: 360px;
}

#lname, #cpassword{
  width: 360px;
  float: right;
}

#mobile::-webkit-outer-spin-button,
#mobile::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#mobile, #email{
  width: 784px;
}

.form{
  width: 150px;
  height: 20px;
  font-size: 22px;
  float: left;
  margin-top: 10px;
}

.form input{
  height: 20px;
  width: 15px!important;
}

.form label{
  margin-left: 10px;
}

.tandc{
  float: right;
  font-size: 20px;
  font-weight: 100;
  margin-top: 5px;
  width: 570px;
}

.tandc .register{
  color: white;
  background-color: rgb(83,138,193);
  font-size: 14px;
  font-weight: normal;
  padding: 4px 12px;
  border-radius: 5px;
}

.tandc .tc{
  text-decoration: none;
  color: rgb(83,138,193);
}

button{
  height: 60px;
  border-radius: 9px;
  margin-top: 15px;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 2px 2px 10px #696969;
  transition: 0.1s all;
}

button:active{
  box-shadow: none;
  transform: scale(0.98);
}

.registerBtn{
  background-color: rgb(83,138,193);
  float: left;
  width: 378px;
}

.signinBtn{
  background-color: rgb(115, 181, 103);
  float: right;
  width: 378px;
}

@media only screen and (max-width: 810px) {
  body{
    width: 100%;
  }

  main{
    display: grid;
  }

  .input{
    width: 90%!important;
    margin: 15px auto;
    float: left!important;
  }

  .tandc{
    width: 90%;
    margin: 15px auto;
    float: left!important;
  }

  .form{
    margin-bottom: 15px;
    margin-left: 5%;
  }

  .registerBtn, .signinBtn{
    margin: 10px auto;
  }
}